apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 1s
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      - job_name: 'node-exporter'
        static_configs:
          - targets: ['192.168.0.51:9100','192.168.0.52:9100','192.168.0.61:9100', '192.168.0.62:9100','192.168.0.71:9100','192.168.0.72:9100','192.168.0.81:9100','192.168.0.82:9100']
      - job_name: 'kube-state-metrics'
        static_configs:
          - targets: ['kube-state-metrics.kube-system.svc.cluster.local:8080']
      - job_name: 'jetson-exporter'
        static_configs:
          - targets: ['192.168.0.61:8000','192.168.0.62:8000','192.168.0.81:8000','192.168.0.82:8000']
      - job_name: 'rasp-exporter'
        static_configs:
          - targets: ['192.168.0.11:8000','192.168.0.51:8000','192.168.0.52:8000','192.168.0.71:8000','192.168.0.72:8000']
